Model Training

In [2]:
import pandas as pd
df = pd.read_csv("finalTrain.csv")
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [27]:
X=df.drop('Time_taken (min)',axis=1)
y=df["Time_taken (min)"]

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [29]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [16]:
df.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age            float64
Delivery_person_Ratings        float64
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weather_conditions              object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries            float64
Festival                        object
City                            object
Time_taken (min)                 int64
dtype: object

In [26]:
from sklearn import preprocessing
# Loop over each coulmn in the DataFrame where the data type is object

for col in df.select_dtypes(include=['object']).columns:
#Initialize the label coder
    label_encoder=preprocessing.LabelEncoder()

#Fit the encoder to the unique value in the column
    label_encoder.fit(df[col].unique())

#Transform the column using encoder

    df[col]=label_encoder.transform(df[col])

#Print the column name and unique encoded values

    print(f"{col}:{df[col].unique()}")

In [24]:
df.dropna(axis=0,how='any',inplace=True)
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,40733,468,36.0,4.2,30.327968,78.046106,30.397968,78.116106,18,155,169,1,1,2,3,2,3.0,0,0,46
1,43265,825,21.0,4.7,10.003064,76.307589,10.043064,76.347589,20,85,91,3,0,1,2,2,1.0,0,0,23
2,4786,1118,23.0,4.7,18.562450,73.916619,18.652450,74.006619,6,110,120,2,3,1,1,3,1.0,0,0,21
3,39613,943,34.0,4.3,30.899584,75.809346,30.919584,75.829346,20,27,29,2,2,0,0,2,0.0,0,0,20
4,43666,760,24.0,4.7,26.463504,80.372929,26.593504,80.502929,22,134,146,1,1,1,3,3,1.0,0,0,41

In [25]:
df.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weather_conditions             0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken (min)               0
dtype: int64

In [30]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [31]:
regression.coef_

array([ 7.60804769e-06, -1.37511377e-04,  3.86771006e-01, -7.53750720e+00,
        1.97441476e-02, -3.20149789e-02, -1.16529561e-02,  3.16604992e-02,
        9.11101581e-03,  1.25760755e-02,  1.16678522e-02, -9.26007927e-01,
       -1.50478162e+00, -2.19719699e+00,  3.83293421e-02, -4.69127535e-01,
        4.33849720e+00,  3.73395004e+00, -1.27559173e+00])

In [32]:
regression.intercept_

52.2282763543038

In [33]:
import numpy as np
def evaluate_model(true,predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [34]:
## Train multiple models
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)
    
    #make prediction

    y_pred=model.predict(X_test)
    mae,rmse,r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 7.099282237142584
MAE: 5.668642265301136
R2 score 42.071875877525855
===================================


Lasso
Model Training Performance
RMSE: 7.9346865323397004
MAE: 6.433701654020169
R2 score 27.636405887943315
===================================


Ridge
Model Training Performance
RMSE: 7.099281054994798
MAE: 5.668679399167169
R2 score 42.07189516950375
===================================


Elasticnet
Model Training Performance
RMSE: 7.91990918677647
MAE: 6.416945714892042
R2 score 27.905690900119097
===================================